@require "variables"

random(a,b)
  return (math(0, 'random')*(b - a) + a)

// @keyframes flicker
//   0%
//     opacity: 0.18617
//   5%
//     opacity: 0.68944
//   10%
//     opacity: 0.43691
//   15%
//     opacity: 0.05814
//   20%
//     opacity: 0.27306
//   25%
//     opacity: 0.68414
//   30%
//     opacity: 0.30158
//   35%
//     opacity: 0.17078
//   40%
//     opacity: 0.1184
//   45%
//     opacity: 0.17069
//   50%
//     opacity: 0.31897
//   55%
//     opacity: 0.60281
//   60%
//     opacity: 0.77678
//   65%
//     opacity: 0.64323
//   70%
//     opacity: 0.50486
//   75%
//     opacity: 0.43372
//   80%
//     opacity: 0.10265
//   85%
//     opacity: 0.18532
//   90%
//     opacity: 0.15646
//   95%
//     opacity: 0.72473
//   100%
//     opacity: 0.16826

.crt-container 
  background: $colorScreen
  position:relative
  overflow:hidden

  // flicker
  &::after
    content:" "
    display:block
    position:absolute
    top:0
    left:0
    bottom:0
    right:0
    background:rgba($colorScreen, 0.9)
    opacity:0
    z-index:1
    pointer-events:none
  &.flicker::after
    opacity: 0.7

  // scanlines
  &::before
    content:" "
    display:block
    position:absolute
    top:0
    left:0
    bottom:0
    right:0
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06))
    z-index:1
    background-size:100% 2px, 3px 100%
    pointer-events:none