@require "variables"
@require "mixins"
@require "normalize.css"
@require "crt"

body
  user-select: none

.stage
  display: none

[data-state="title"]
  #stage-title
    display: block

[data-state="main"]
  #stage-main
    display: block

[data-state="dead"]
  #stage-dead
    display: block

#screen
  background: $colorScreen;
  border: 3px solid $colorScreenBorder
  size: 500px
  color: $colorScreenText;
  overflow: hidden
  position: relative
  word-wrap: break-word
  word-break: break-word
  a
    color: @color
    text-decoration: none
  .progress-overlay
  .progress-bar
    z-index: 0
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
  .progress-overlay
    background: #fff
  .progress-bar
    background: #000
    transition: transform 0.2s

.btn-start
  text-shadow: 1px 1px 0 #000
  left: 0
  right: 0
  position: absolute
  bottom: 50px
  text-align: center

#stage-title
#stage-dead
  text-align: center

#last-comment-wrapper
  white-space: pre-line
  position: absolute
  bottom: 50px
  left: 10px
  right: 10px

#welcome
  margin: 10px
  white-space: pre-line
  p
    margin: 0 0 10px

.comment-wrapper
  display: none
  background: #000
  border: 1px solid #fff
  position: absolute
  left: 10px
  right: @left
  bottom: 10px
  input[name="comment"]
    color: #fff
    outline: none
    padding: 3px 5px
    background: #000
    border: none
    width: 100%
    box-sizing: border-box
    &::placeholder
      color: @color

#stage-dead
  #end-title
    margin: 200px 10px 10px
    white-space: pre-line